<!-- navigation search at top of page -->
<div class = "jumbotron">
	
</div>
<!-- image/title/logo -->
<!-- search bar -->
<!-- display searches -->
	<!-- header -->
	<!-- results -->
	{{#each Article}}
	<p>title</p>
	<p>link</p>
<!-- display notes -->
	<!-- header -->
	<!-- create & save notes -->
	<!-- display notes attached -->
<!-- footer, created by me 